/************GERAIS****************/
body{
    font-family: 'Lato', sans-serif !important;
    overflow-x: hidden!important;
}

.cem-broto{
    width: 100%;
    height: 100%;
}

.h-15{
    height: 15%!important;
}

a:link{
    text-decoration: none;

}

a:hover{
    text-decoration: none;

}

a:active{
    text-decoration: none;

}

a:visited{
    text-decoration: none;
}

input::placeholder{
    text-align: center;
}

.search::placeholder{
    text-align:left;
    font-size: 4.5vmin;
    color: white;


}
.search{
    background: none;
    border:none;
    border-bottom: 2px solid white;

}
.search:focus{
    background: none;
    outline: none;


}
textarea::placeholder{
    text-align: center;
}

#pagina{
    background : -o-linear-gradient(0deg, rgba(157, 243, 196, 1) 0%, rgba(31, 171, 137, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(157, 243, 196, 1) 0%, rgba(31, 171, 137, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DF3C4', endColorstr='#1FAB89' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(157, 243, 196, 1) 0%, rgba(31, 171, 137, 1) 100%);
    border-radius : 5px 5px 5px 5px;
}

.paginaCarousel{
    position: absolute;
    z-index: 1001;
    top: 5%;
}

.pos-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mw-25{
    max-width: 50%;
}
.search_carta{
    border: 1px solid lightgrey;
    border-radius: 50px;
}
.text-cinzento{
    color: #808184 !important; ;
}
.curva{
    border-radius: 100%;
}
/******** grandientes ************/
.gradient-broto{
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background : -webkit-linear-gradient(0deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(31, 171, 137, 1) ),color-stop(0.985,rgba(157, 243, 196, 1) ));
    background : -o-linear-gradient(0deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);
    background : -ms-linear-gradient(0deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FAB89', endColorstr='#9DF3C4' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);
    opacity : 0.6;
    filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.Alpha(opacity=70) progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FAB89',endColorstr='#9DF3C4' , GradientType=1);

}

.gradiente-preto{
    background-color: black;
    opacity: 0.5;
}

/********CORES**********/
.cinzento-escuro{
    color: #808184;
}

/************FORMATOS DE TEXTO************/
.titulo-1-broto{
    font-weight: 800;
    font-size: 6vmin;
}

.titulo-2-broto{
    font-weight: 800;
    font-size: 4.5vmin;
}

.button-1-broto{
    border: transparent 0;
    padding: 2.5vmin;
    border-radius: 20px;
    font-weight: 700;

    -webkit-box-shadow: 4px 7px 10px 0 rgba(125,125,125,1);
    -moz-box-shadow: 4px 7px 10px 0 rgba(125,125,125,1);
    box-shadow: 4px 7px 10px 0 rgba(125,125,125,1);
}

.button-2-broto{
    border: #808184 0.2px solid;
    padding: 5vmin;
    border-radius: 20px;
    font-weight: 300;
}

.form-control:focus{
    border-color: #0f6848!important;
    -webkit-box-shadow: 0 0 10px 0 rgba(31, 171, 137, 0.5) !important;
    -moz-box-shadow: 0 0 10px 0 rgba(31, 171, 137, 0.5) !important;
    box-shadow: 0 0 10px 0 rgba(31, 171, 137, 0.5)!important;
}

/**********IMAGES*************/
.wave-logo{
    z-index: 100000;
    position: absolute;
    left: 0;
    top: 35%;
    padding: 0;
    margin: 0;

    width: 100%;
    height: auto;
}

.wave-perfil{
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 73.7%;
    padding: 0;
    margin: 0;

    width: 100%;
    height: auto;
    transform: scale(-1, -1);


}

.wave-nav{
    position: absolute;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;

    width: 100%;
    height: auto;
}

.profile-pic-broto{
    border: 0 transparent solid;
    border-radius: 50%;

    height: 65px;
    width: 65px;
}

.profile-pic-broto-2{
    border: 0 transparent solid;
    border-radius: 50%;

    height: 65px;
    width: 65px;

    position: absolute;
    left: 18vw;
    top: 65%;
}
/*********** SIDE MENU **********/
.side-menu{
    width: 75vw;
    height: 100vh;
    position: fixed;
    left: 100vw;
    transform: translate(-100%, 0); /******* POSICIONO TODO PARA A DIREITA, COMO O POSICIONAMENTO É FEITO PELO CANTO SUPERIOR ESQUERDO, DEPOIS FAÇO UM TRANSLATE PARA ESQUERDA = À LARGURA DA COISA *********/
    top:0;

    z-index: 100;
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 30px;

    background : -moz-linear-gradient(0% 50% 0deg,rgba(98, 210, 162, 1) 0%,rgba(102, 212, 164, 1) 26.13%,rgba(114, 219, 171, 1) 51.43%,rgba(133, 230, 182, 1) 76.3%,rgba(157, 243, 196, 1) 98.5%);
    background : -webkit-linear-gradient(0deg, rgba(98, 210, 162, 1) 0%, rgba(102, 212, 164, 1) 26.13%, rgba(114, 219, 171, 1) 51.43%, rgba(133, 230, 182, 1) 76.3%, rgba(157, 243, 196, 1) 98.5%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(98, 210, 162, 1) ),color-stop(0.2613,rgba(102, 212, 164, 1) ),color-stop(0.5143,rgba(114, 219, 171, 1) ),color-stop(0.763,rgba(133, 230, 182, 1) ),color-stop(0.985,rgba(157, 243, 196, 1) ));
    background : -o-linear-gradient(0deg, rgba(98, 210, 162, 1) 0%, rgba(102, 212, 164, 1) 26.13%, rgba(114, 219, 171, 1) 51.43%, rgba(133, 230, 182, 1) 76.3%, rgba(157, 243, 196, 1) 98.5%);
    background : -ms-linear-gradient(0deg, rgba(98, 210, 162, 1) 0%, rgba(102, 212, 164, 1) 26.13%, rgba(114, 219, 171, 1) 51.43%, rgba(133, 230, 182, 1) 76.3%, rgba(157, 243, 196, 1) 98.5%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#62D2A2', endColorstr='#9DF3C4' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(98, 210, 162, 1) 0%, rgba(102, 212, 164, 1) 26.13%, rgba(114, 219, 171, 1) 51.43%, rgba(133, 230, 182, 1) 76.3%, rgba(157, 243, 196, 1) 98.5%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62D2A2',endColorstr='#9DF3C4' , GradientType=1);
}

.seta-sair-broto {
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-profile-pic{
    height: 65px;
    width: 65px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 0 transparent solid;
    border-radius: 50%;
}

.white-1{
     width: 85px;
     height: 85px;

     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);

     background-color: white;
     opacity: 0.6;

     border: 0 transparent solid;
     border-radius: 50%;
     z-index: -100000;
 }

.white-2{
    width: 105px;
    height: 105px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    opacity: 0.5;

    border: 0 transparent solid;
    border-radius: 50%;
    z-index: -100000;
}

.spacing-broto{
    letter-spacing: 5px;
}

#blur{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: white;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
}
/***********MENU BOT*************/
#menu-bot{
    background-image: url("../assets/img/frontend/curvanav.svg");
    background-size: cover;
    height: 14vh;
    width: 100vw;
}
/**********MAPA**************/
#map{
    height: 100vh;
}
/**********EVENTO***********/
.background-evento{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(31, 171, 137, 1) 0%,rgba(126, 175, 150, 1) 98.5%);
    background : -webkit-linear-gradient(-90deg, rgba(31, 171, 137, 1) 0%, rgba(126, 175, 150, 1) 98.5%);
    background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(31, 171, 137, 1) ),color-stop(0.985,rgba(126, 175, 150, 1) ));
    background : -o-linear-gradient(-90deg, rgba(31, 171, 137, 1) 0%, rgba(126, 175, 150, 1) 98.5%);
    background : -ms-linear-gradient(-90deg, rgba(31, 171, 137, 1) 0%, rgba(126, 175, 150, 1) 98.5%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FAB89', endColorstr='#7EAF96' ,GradientType=0)";
    background : linear-gradient(180deg, rgba(31, 171, 137, 1) 0%, rgba(126, 175, 150, 1) 98.5%);
    opacity : 0.7;

    border: 1px solid transparent;
    border-radius: 19px 19px 0 0;
    min-height: 30vh;
}

.carouselEvento{
    border-bottom: 1px solid transparent;
    border-radius: 0 0 19px 19px;
}

#data{
    width: 65px;
    height: 65px;
    border: 0 solid transparent;
    border-radius: 50%;

    background : -moz-linear-gradient(0% 50% 0deg,rgba(31, 171, 137, 1) 0%,rgba(157, 243, 196, 1) 98.5%);
    background : -webkit-linear-gradient(0deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(31, 171, 137, 1) ),color-stop(0.985,rgba(157, 243, 196, 1) ));
    background : -o-linear-gradient(0deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);
    background : -ms-linear-gradient(0deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);
    background : linear-gradient(90deg, rgba(31, 171, 137, 1) 0%, rgba(157, 243, 196, 1) 98.5%);

    position: absolute;
    top: 12%;
    left: 77%;
    color: white;
}

.carousel-indicators > li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
/*******PERFIL*******/
.carouselPerfil{
    border-bottom: 1px solid transparent;
    border-radius: 19px;
}

.edit-foto{
    position: absolute;
    top: 30%;
    left: 19%;
    z-index: 10001;
}

#janelaQr{
    position: absolute;
    left: 0;
    top: 80%;
    width: 100vw;
    height: 80vh;
    padding: 0;
    margin: 0;
}

#qrClose{
    transform: translateX(50%);
}